.edit_button {
    background: #4ccbf1;
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    padding: 10px 0px 10px 0px;
}